{
  "extends": ["taro"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
    "semi":["warn", "always"],
    "no-const-assign":"error",
    "no-var":"error",
    "prefer-const": "error",
    "prefer-arrow-callback": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-semi": "error",
    "no-inner-declarations": "error",
    "no-obj-calls": "error",
    "no-unexpected-multiline": "error",
    "valid-typeof": "error",
    "consistent-return": "error",
    "curly": ["error", "multi-line"],
    "eqeqeq": ["error", "always"],
    "no-else-return": "error",
    "no-empty-pattern": "error",
    "no-eq-null": "error",
    "no-implicit-globals": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-with": "error",
    "init-declarations": ["error", "always"],
    "no-delete-var": "error",
    "no-undef": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-unused-vars": "warn",
    "no-use-before-define": "error",
    "block-spacing": ["error", "never"],
    "camelcase": "error",
    "comma-style": ["error", "last"],
    "max-nested-callbacks": ["error", 3],
    "object-curly-spacing": ["error", "never"],
    "one-var": ["warn", "always"],
    "quotes": ["error", "single"],
    "semi-style": ["warn", "last"],
    "spaced-comment": ["error", "always"],
    "switch-colon-spacing": "error",
    "prefer-template": "warn"
  },
  "parser": "babel-eslint"
}
